{# templates/stats.html.twig #}
{% extends "base.html.twig" %}
{% block title %}Survarium Weapons{% endblock %}
{% block body %}
    <h1>Survarium 0.61 Weapons Stats </h1>
    <h3>Work in Progress</h3>
    <div style="background-color: #CCC;">
        <div>
            <table id='weaponsStats'>
                <thead style="font-weight: bold;">
                <tr class="row100 head">
                    {% for key, value in weapons[0]|cast_to_array %}
                        {% if key != 'id' %}
                            <th class="cell100 columnHeader {% if key == 'Sample TimeToKill' %}border1px{% endif %} ">{{ key }}</th>
                        {% endif %}
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                {% for weapon in weapons %}
                    <tr class="row100 body">
                        {% for stat, value in weapon|cast_to_array %}
                            {% if stat != 'id' %}
                                <td class="cell100 column  {% if stat == 'Sample TimeToKill' %}border1px{% endif %}"
                                    id="col">{{ value }}</td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                {% endfor %}
                </tbody>
                <tfoot style="font-weight: bold;">
                <tr class="row100 head">
                    {% for key, value in weapons[0]|cast_to_array %}
                        {% if key != 'id' %}
                            <td class="cell100 columnHeader {% if key == 'Sample TimeToKill' %}border1px{% endif %}">{{ key }}</td>
                        {% endif %}
                    {% endfor %}
                </tr>
                </tfoot>
            </table>
        </div>
        <span style='font-weight: bold;'>
			{{ message }}
		</span>
        <span style='font-weight: bold;color: green;'>
			FIXED
		</span>
        <div class="row">
            <div style="width: 500px;" class="container">
            {{ form_start(form, {'attr': {'class': 'form-inline'}}) }}
                <div class="form-row">
                    <div class="col">
                        {{ form_label(form.version, null, {'attr': {'class': 'sr-only'}}) }}
                        {{ form_widget(form.version, {'attr': {'class': 'form-control select2JS'}}) }}
                    </div>
                    <div class="col">
                        {{ form_label(form.equipment, null, {'attr': {'class': 'sr-only'}}) }}
                        {{ form_widget(form.equipment, {'attr': {'class': 'form-control select2JS'}}) }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="col">
                        {{ form_label(form.onyx, null, {'attr': {'class': 'sr-only'}}) }}
                        {{ form_widget(form.onyx, {'attr': {'class': 'form-number'}}) }}
                    </div>

                    <div class="col">
                        {{ form_label(form.bonusArmor, null, {'attr': {'class': 'sr-only'}}) }}
                        {{ form_widget(form.bonusArmor, {'attr': {'class': 'form-number'}}) }}
                    </div>
                    <div class="col">
                    {{ form_label(form.range, null, {'attr': {'class': 'sr-only'}}) }}
                    {{ form_widget(form.range, {'attr': {'class': 'form-number'}}) }}
                    </div>
                    <div class="col">
                        {{ form_widget(form.save, { 'label': 'UPDATE', 'attr': {'class': 'saveMarging btn btn-secondary'}}) }}
                    </div>
                </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}