{# templates/stats.html.twig #}
{% extends "base.html.twig" %}
{% block title %}Survarium Weapons{% endblock %}
{% block body %}
    <h1>Survarium Stats</h1>
    <h3>Time To Kill Comparator</h3>
    <h4>discord.gg/pKG5f4J</h4>
    <div id="weaponStatsDiv">
     <table id='weaponsStats'{% if responsive == true %}class="responsive dt-responsive"{% endif %}>
            <thead style="font-weight: bold;">
            <tr class="row100 head">
                {% for key, value in weapons[0]|cast_to_array %}
                    {% if key != 'id' %}<th class="cell100 columnHeader {% if key == sampleTTKIndex and responsive == false %}never border1px{% endif %} ">{{ key }}</th>{% endif %}
                {% endfor %}
            </tr>
            </thead>
            <tbody>
            {% for weapon in weapons %}<tr class="row100 body">{%
                for stat, value in weapon|cast_to_array %}
                        {% if stat != 'id' %}<td class="cell100 {%
                            if stat == sampleTTKIndex and responsive == false %}border1px{% endif %}">{{ value }}</td>
                        {% endif %}
                {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
            <tfoot style="font-weight: bold;">
            <tr class="row100 head">
                {% for key, value in weapons[0]|cast_to_array %}
                    {% if key != 'id' %}<td class="cell100 columnHeader {% if key == sampleTTKIndex and responsive == false %}border1px{% endif %}">{{ key }}</td>{% endif %}
                {% endfor %}
            </tr>
            </tfoot>
        </table>
    </div>
    <span id="message" style='font-weight: bold;'>
			{{ message }}
		  </span>
    <div class="row">
        <div class="formContainer container">
            {{ form_start(form, {'attr': {'id': 'ajaxForm', 'class': 'form-inline'}}) }}
            <div class="form-row customFormRow">
                <div class="col">
                    {{ form_label(form.version, null, {'attr': {'class': 'sr-only'}}) }}
                    {{ form_widget(form.version, {'attr': {'class': 'form-control select2JS'}}) }}
                </div>
                <div class="col">
                    {{ form_label(form.equipment, null, {'attr': {'class': 'sr-only min-width-armor'}}) }}
                    {{ form_widget(form.equipment, {'attr': {'class': 'form-control select2JS'}}) }}
                </div>
            </div>
            <div class="form-row customFormRow">
                <div class="col">
                    {{ form_label(form.onyx, null, {'attr': {'class': 'sr-only'}}) }}
                    {{ form_widget(form.onyx, {'attr': {'class': 'form-control form-number'}}) }}

                </div>
                <div class="col">
                    {{ form_label(form.bonusROF, null, {'attr': {'class': 'sr-only'}}) }}
                    {{ form_widget(form.bonusROF, {'attr': {'class': 'marginRight form-control form-number'}}) }}
                </div>
                <div class="col">
                    {{ form_label(form.bonusArmor, null, {'attr': {'class': 'sr-only'}}) }}
                    {{ form_widget(form.bonusArmor, {'attr': {'class': 'marginRight form-control form-number'}}) }}
                </div>
                <div class="col">
                    {{ form_label(form.range, null, {'attr': {'class': 'sr-only'}}) }}
                    {{ form_widget(form.range, {'attr': {'class': 'marginRight form-control form-number'}}) }}
                </div>
            </div>
            <div class="form-row customFormRow width100 paddingBot0">
                <div class="col">
                        {{ form.showSpecial.vars.label }}
                        <label class="switch" for="{{ form.showSpecial.vars.id }}">
                                {{ form_widget(form.showSpecial, {'attr': {'class': 'marginRight form-control'}}) }}
                            <span class="slider round"></span>
                        </label>
                </div>
                <div class="col centerCol">
                    {{ form_widget(form.save, { 'label': 'UPDATE', 'attr': {'class': 'btn btn-secondary'}}) }}
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
    <script>
        window.responsive = {% if responsive == true %}1{% else %}0{% endif %};
        window.translations = {
            'selectToHide' : "{{ 'select to hide' | trans }}", }
    </script>
{% endblock %}