{# templates/stats.html.twig #}
{% extends "base.html.twig" %}
{% block title %}Survarium Weapons{% endblock %}
{#{% block stylesheets %}#}
    {#<link rel="stylesheet" type="text/css" href="/assets/vendor/DataTables/datatables.min.css"/>#}
{#{% endblock %}#}
{% block body %}
    <h1>Survarium 0.61 Weapons Stats </h1>
    <h3>{{ weaponName }}</h3>
    <div style="background-color: #CCC;">
        <div>
            <table id='weaponsStats'>
                <thead style="font-weight: bold;">
                <tr class="row100 head">
                    <td id="col" class="cell100 columnHeader">Set</td>
                    {% for key in bodyParts %}
                        <td id="col" class="cell100 columnHeader">{{ key }} Bullets To Kill</td>
                        <td id="col" class="cell100 columnHeader">{{ key }} Time To Kill</td>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                {% for key, weaponTTK in weaponsTTK %}
                    <tr class="row100 body">
                        <td class="cell100" id="col">{{ key }}</td>
                        {% for bodyPart in bodyParts %}
                            <td id="col"
                                class="cell100">{% if weaponTTK[bodyPart] is defined %}{{ weaponTTK[bodyPart]['Bulllets To Kill'] }}{% else %}-{% endif %}</td>
                            <td id="col"
                                class="cell100">{% if weaponTTK[bodyPart] is defined %}{{ weaponTTK[bodyPart]['Time To Kill'] }}{% else %}-{% endif %}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
                </tbody>
                <tfoot style="font-weight: bold;">
                <tr class="row100 head">
                    <td id="col" class="cell100 columnHeader">Set</td>
                    {% for key in bodyParts %}
                        <td id="col" class="cell100 columnHeader">{{ key }} Bullets To Kill</td>
                        <td id="col" class="cell100 columnHeader">{{ key }} Time To Kill</td>
                    {% endfor %}
                </tr>
                </tfoot>
            </table>
        </div>
        <div>
            <a class="btn btn-secondary btn-sm" href="{{ path('stats', {}, relative = false) }}">Back</a>
        </div>
        <div style='font-weight: bold;'>
            todo add onix, skills, modifier,range
        </div>
    </div>
    {% block javascripts %}
        <script type="text/javascript">

            function defer(method) {
                if (window.jQuery) {
                    method();
                } else {
                    setTimeout(function () {
                        defer(method)
                    }, 50);
                }
            }

            defer(function () {
                if ($.fn.dataTable.isDataTable('#weaponsStats')) {
                    table = $('#weaponsStats').DataTable();
                } else {
                    table = $('#weaponsStats').DataTable({
                        select: true,
                        initComplete: function () {
                            this.api().columns().every(function () {
                                var collator = new Intl.Collator(undefined, {numeric: true, sensitivity: 'base'});
                                var column = this;
                                var select = $('<select><option value=""></option></select>')
                                    .appendTo($(column.footer()).empty())
                                    .on('change', function () {
                                        var val = $.fn.dataTable.util.escapeRegex(
                                            $(this).val()
                                        );

                                        column
                                            .search(val ? '^' + val + '$' : '', true, false)
                                            .draw();
                                    });

                                column.data().unique().sort(collator.compare).each(function (d, j) {
                                    select.append('<option value="' + d + '">' + d + '</option>')
                                });
                            });
                        }
                    });
                }
            });
        </script>
    {% endblock %}
{% endblock %}